In [4]:
import pandas as pd
df = pd.read_csv("RFMloc.csv")
print(df.columns)
df.head(5)

Index(['user_id', 'Date_most_recent', 'Transaction_count', 'Amount',
       'Recency_score', 'Frequency_score', 'Monetary_score', 'RFM_score',
       'coordinate.lat', 'coordinate.lng'],
      dtype='object')

,user_id,Date_most_recent,Transaction_count,Amount,Recency_score,Frequency_score,Monetary_score,RFM_score,coordinate.lat,coordinate.lng
0,5a645ef760fc470d00ebe75b,3/28/2018,26,1378.37,5,5,5,555,1.485418,103.753555
1,590484d0836872e94257bdd2,3/30/2018,63,1232.85,5,5,5,555,1.485510,103.753520
2,5a126332f9423079383af2b0,3/30/2018,35,1055.4,5,5,5,555,1.485474,103.753658
3,5954edd7d82d5c2e445960c7,3/30/2018,32,993.85,5,5,5,555,1.448762,103.931673
4,5a802894aad86a10d8870675,3/28/2018,16,965.43,5,5,5,555,3.229621,101.688627

In [ ]:
from bokeh.io import output_file, output_notebook, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, LogColorMapper, BasicTicker, ColorBar,
    DataRange1d, PanTool, WheelZoomTool, BoxSelectTool
)
from bokeh.models.mappers import ColorMapper, LinearColorMapper
from bokeh.palettes import Viridis5


map_options = GMapOptions(lat=3.12, lng=101.68, map_type="roadmap", zoom=6)

plot = GMapPlot(
    x_range=DataRange1d(), y_range=DataRange1d(), map_options=map_options
)
plot.title.text = "Hey look! It's a scatter plot on a map!"

# For GMaps to function, Google requires you obtain and enable an API key:
#
#     https://developers.google.com/maps/documentation/javascript/get-api-key
#
# Replace the value below with your personal API key:
plot.api_key = "AIzaSyBnmZufCx4GPEk1a33hgVMJoaAI9PlZr5Q"

source = ColumnDataSource(
    data=dict(
        lat=housing.latitude.tolist(),
        lon=housing.longitude.tolist(),
        size=housing.median_income.tolist(),
        color=housing.median_house_value.tolist()
    )
)
max_median_house_value = housing.loc[housing['median_house_value'].idxmax()]['median_house_value']
min_median_house_value = housing.loc[housing['median_house_value'].idxmin()]['median_house_value']

#color_mapper = CategoricalColorMapper(factors=['hi', 'lo'], palette=[RdBu3[2], RdBu3[0]])
#color_mapper = LogColorMapper(palette="Viridis5", low=min_median_house_value, high=max_median_house_value)
color_mapper = LinearColorMapper(palette=Viridis5)

circle = Circle(x="lon", y="lat", size="size", fill_color={'field': 'color', 'transform': color_mapper}, fill_alpha=0.5, line_color=None)
plot.add_glyph(source, circle)

color_bar = ColorBar(color_mapper=color_mapper, ticker=BasicTicker(),
                     label_standoff=12, border_line_color=None, location=(0,0))
plot.add_layout(color_bar, 'right')

plot.add_tools(PanTool(), WheelZoomTool(), BoxSelectTool())
#output_file("gmap_plot.html")
output_notebook()

show(plot)